<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="color-scheme" content="light dark">
  <title>ESP32 Web Temperature</title>
</head>
<body>
<div id="app">
  <header class="container">
    <div v-scope="TopNavbar()"></div>
  </header>
  <main class="container">
    <div>
      <section>
        <div v-scope="Temperatures()"></div>
      </section>
      <section>
        <div v-scope="TemperatureChart()" @vue:mounted="renderChart()"></div>
      </section>
    </div>
  </main>
</div>
<script type="module" src="/src/main.js"></script>

<template id="top-navbar">
  <nav>
    <ul>
      <li><strong>ESP32 Web Temperature</strong></li>
    </ul>
    <ul>
      <li>
        <button @click="deleteDB()">Delete Database</button>
      </li>
    </ul>
  </nav>
</template>

<template id="temperatures">
  <h2>Current Temperature</h2>
  <div class="grid">
    <article class="text-center">
      <h5>ESP32 Temperature</h5>
      <span class="temp-val" aria-busy="true" v-if="store.internalTemp === -500"></span>
      <span class="temp-val" v-else>{{ store.internalTemp  }}°C</span>
    </article>
    <article class="text-center">
      <h5>Environment Temperature</h5>
      <span class="temp-val" aria-busy="true" v-if="store.externalTemp === -500"></span>
      <span class="temp-val" v-else>{{ store.externalTemp  }}°C</span>
    </article>
  </div>
</template>

<template id="chart">
  <h2>Temperature Chart</h2>
  <canvas id="live-chart"></canvas>
</template>

</body>
</html>